div img {
    width: 20%;
}

* {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.displayed-img {
    width: 100%; 
    height:auto; 
    margin-bottom: 10px;
}

.effects {
    visibility: hidden;
}

.effects_visible {
    visibility: visible;
}

#thumb-bar img{
    vertical-align: bottom;
}

@media screen and (max-width: 640px) {
    body {
        max-width: 640px;
        margin: auto;
        width: 80%;
    }
    
    .effects span{
        display: inline-block;
      }
}

@media screen and (min-width: 640px) {
    .displayed-img {
        max-width: 640px;
    }

    #thumb-bar {
        max-width: 640px;
    }
}